{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %}{% endblock head_title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "base_js.html" %}
        
        {% include "base_css.html" %}
        
        <style> {% block style %}{% endblock style %} </style>
        
        {% block head_extra %}{% endblock head_extra %}
    </head>
    <body>
        {% include "nav.html" %}
        <div class='container-fluid'>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>