{% extends "base.html" %}

{% block head_title %}
    API Lists | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <a class="" href="api/train?model=random_forest&target=FR&train_from=20200101&train_to=20200301&features=DE-LU&features=NL&features=BE">Train API</a>
        <br>
        <a class="" href="api/predict?model=random_forest&target=FR&test_from=20200302&test_to=20200315">Predict API</a>
    </div>
{% endblock content %}